html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #ddd;
	min-width: 860px;
}

h1 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222222;
    font-size: 70px;
}
h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222222;
    font-size: 20px;
}
p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222222;
    font-size: 35px;
}

p1 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222222;
    font-size: 20px;
}
h h2, h3, h4, h5, h6, p, li, span {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222222;
}
a {
	color: #222222;
	font-weight: bold;
}
	a:hover {
		text-decoration: none;
	}


button {
    background-color: #919191;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: #BCBF4E;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], select {
    width: 5%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputscore {
   width: 15%;
}

.counter {
	margin: 2px;
	color: #900C3F;
	font-size: 100px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
    
}

.container {
	width: 870px;
	text-align: center;
	margin: 10px auto 10px auto;
}

.container2 {
	width: 870px;
	text-align: center;
	margin: 10px auto 50px auto;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222222;
    font-size: 18px;
}

table, td{
	text-align: center;
	padding: 6px 6px 6px 6px;
	background: #c0e1cc;
}


table, th {
	text-align: center;
	padding: 6px 6px 6px 6px;
	background: #b5a7a7;
           
}
