body{
	background: linear-gradient(to right, #efefbb, #d4d3dd);

}
*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}
.userDescr{
	margin: 15px !important;
}
.thumb1{
    color: green;
    float: right;
}
.thumb2{
    color: red;
    float: right;
}
/*Stupid heart code */
.heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 50px;
  width: 50px;
  top: 10px;
}
table, td{
    text-align: center;
	padding: 6px 6px 6px 6px;
	background: #9AECB8;
}
.text{
   padding-left: 19px;
   padding-top: 15px;
   font-family: monospace;
}