
body {
    
	font-family: 'open sans', Verdana, sans-serif;
	font-size: 13px;
	color: black;
        
}

#container1 {
    background-image: url("pic/wall.jpg");
}
#container2 {
     background: linear-gradient(to right, #efefbb, #d4d3dd);
}

header {
	height: 40px;
	padding: 10px 0 0 0;
	border-bottom: 1px solid #eee;

}

ul  {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}

ul li  {
    display: inline;
}

ul a  { 
    display: inline-block; 
    text-transform: uppercase; 
    text-decoration: none;
	color: skyblue;
    padding: 10px;
}

h1 {
    font-family: "Segoe UI";
    color:dimgray;
    text-align: center;
}

h2 {
    font-family: "Segoe UI";
    color:dimgray;
    text-align: center;
}

#photos img:hover {
    opacity: 0.4;
}



#wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 25px;
	background: #fff;
}

.alignleft {
	float: left;
	margin-right: 20px;
    margin-bottom: 20px;
}

p {
    text-align: justify;
}


#table1 td{
	border-bottom: 1px solid #eee;
	padding: 6px 6px 6px 6px;
}


#table1 th {
    border-bottom: 1px solid #eee;
	padding: 8px 26px 8px 12px;
    background: #9AECB8;       
}

#table2 td{
	border-bottom-style: 1px solid #eee;
    background: #E2E1E1;
	padding: 8px 26px 8px 12px;
}

#table2 th {
    border-bottom-style: 1px solid #eee;
    background: #E39564;
	padding: 6px 6px 6px 6px;
    
}

.links a{
    font-family: "Segoe UI";
    color: red;
    display:list-item;
    text-decoration:none;
    padding: 1px;
    margin: 25px;
}



.links a:visited {
    color: goldenrod;
}

.links a:hover {
    color: darkgreen;   
}


.links a:active {
    color: darkmagenta;
}


